{{ "<!-- ABOUT -->" | safeHTML }}
<section class="section" id="music">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                     <iframe class='soundcloud' src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/72430119%3Fsecret_token%3Ds-VoKiH&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
            </div>
        </div>
    </div>
</section>
