{{ "<!-- videos -->" | safeHTML }}
<section class="section" id="videos">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                     <iframe class='youtube' src="https://www.youtube.com/embed/S7hdVwPttlw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                     <iframe class='youtube' src="https://www.youtube.com/embed/I0RQ6F1BMls" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                     <iframe class='youtube' src="https://www.youtube.com/embed/MfeNqt0THlw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                     <iframe class='youtube' src="https://www.youtube.com/embed/Iy9LFtHHmWA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
