<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
	<!-- Logo -->
		<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
				<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
					<img src="/img/logo.svg" alt="Kaldi logo" class="navbar-brand page-scroll" href="#page-top"/>
				</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
             	<li><a href="/products" class="page-scroll">Products</a></li>

				<li><a href="/values" class="page-scroll">Values</a></li>

				<li><a href="/post" class="page-scroll">Blog</a></li>

				<li><a href="/contact" class="page-scroll">Contact</a></li>  
            </ul>
        </div>
	</div>

</nav>